/01-security-api-embedded/target/
/02-security-api-goodneighbor/target/
/02-security-api-helloworld/target/
/03-security-api-principal/target/
/04-security-api-isuserinrole-webxml/target/
/04-security-api-isuserinrole-glassfishwebxml/target/